---
layout: layouts/ezgraph-marketing.njk
ezgraphDocs: true
---
<div class="ezgraph-content ezgraph-content--docs">
  <div class="eg-container ezgraph-docs-layout">
    {% include "partials/ezgraph-docs-nav.njk" %}
    <div class="ezgraph-docs-body">
      {% if ezgraphDocument %}<article class="wrap ezgraph-document">{% endif %}
      {{ content | safe }}
      {% if ezgraphGuide %}{% include "partials/ezgraph-guide-pagination.njk" %}{% endif %}
      {% if ezgraphDocument %}</article>{% endif %}
    </div>
  </div>
</div>
